@model JWTServiceCore.Models.ViewModels.RoleViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Claims)
        </dt>
        <dd class="col-sm-10">
            @foreach (var claim in Model.Claims!)
            {
                <div><b>Type: </b>@claim.Type | <b>Value: </b>@claim.Value | <a asp-controller="Claim" asp-action="EditRoleClaim" asp-route-roleName="@Model.Name" asp-route-claimType="@claim.Type">Edit</a></div>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Role" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="Role" asp-action="Index">Back to List</a>
</div>
